.tabStyle{
    max-width: 250px !important;
    font-size: 10px !important;
    flex: auto !important;
    border-bottom: 5px solid white !important;

}
.isActiveTab{
    svg{
        color: #2251FF !important;
    }   
    color: #2251FF !important;
 }
 .tabTitle{
     font-weight: 700;
     font-family: "McKinsey Sans Regular", "Helvetica Neue", Calibri, Corbel, Helvetica, Roboto, Droid, sans-serifl !important;
 }
 .tabContainer {
    .MuiTabs-indicator{
        background: blue !important;
    }
 }