
   
@font-face {
    font-family: TheinhardtPanMedium;
    src:  url('https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Medium.eot'),
    url('https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Medium.woff'),
    url('https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Medium.woff2');
  }
  
  @font-face {
    font-family: TheinhardtPanItalic;
    src:  url('https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Italic.eot'),
    url('https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Italic.woff'),
    url('https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Italic.woff2');
  }
  
  @font-face {
    font-family: TheinhardtPanLight;
    src:  url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Light.eot"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Light.woff"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Light.woff2");
  }
  
  @font-face {
    font-family: TheinhardtPanLightItalic;
    src:  url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-LightItalic.eot"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-LightItalic.woff"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-LightItalic.woff2");
  }
  
  @font-face {
    font-family: TheinhardtPanMediumItalic;
    src:  url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-MediumItalic.eot"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-MediumItalic.woff"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-MediumItalic.woff2");
  }
  
  
  @font-face {
    font-family: TheinhardtPanRegular;
    src:  url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Regular.eot"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Regular.woff"),
    url("https://cdn.mckinsey.com/assets/fonts/TheinhardtPan-Regular.woff2");
  }
  
  @font-face {
    font-family: BowerBold;
    src:  url("https://cdn.mckinsey.com/assets/fonts/Bower-Bold.eot"),
    url("https://cdn.mckinsey.com/assets/fonts/Bower-Bold.woff"),
    url("https://cdn.mckinsey.com/assets/fonts/Bower-Bold.woff2");
  }
  