.engagement-container {
  padding: 18px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

  .engagement-title {
    margin-bottom: 18px;
  }

  .engagement-card {
    background-color: rgb(230, 230, 230, 0.5);
    border-radius: 3px;
    padding: 13px 19px;
    transition: background 0.5s;

    &:hover {
      background-color: rgb(230, 230, 230, 1);
    }

    & + .engagement-card {
      margin-top: 12px;
    }

    .engagement-code {
      font: normal normal normal 12px McKinsey Sans;
      color: #2251FF;
    }

    .engagement-company-name {
      font: normal normal 500 16px/12px McKinsey Sans;
      color: #000000;
      margin-top: 6px;
      margin-bottom: 8px;
    }

  }
}

.status-tag {
  display: inline-block;
  background: #3C96B41A;
  border-radius: 2px;
  padding: 3px 9px;
  font: normal normal normal 8px/16px McKinsey Sans;
  color: #3C96B4;
}

.active-engagements-container {
  flex-grow: 1;
  margin-left: 32px;

  .active-engagements-title {
    font: normal normal 500 28px/16px Bower;
    color: #051C2C;
  }

  .active-engagements-table {
    margin-top: 38px;
  }


  .header-cell {
    font: normal normal 500 16px/17px McKinsey Sans;
    color: #000000;
  }

  .ReactVirtualized__Table__headerRow {
    border-bottom: 2px solid #000000;
  }

  .code-cell {
    font: normal normal normal 18px/20px McKinsey Sans;

    color: #2251FF;
  }

  .text-cell {
    font: normal normal normal 18px/20px McKinsey Sans;
    color: #000000;
  }

  .status-cell {
    width: 120px;
    margin-left: -20px;

    .canvas-container {
      height: 80px;
      width: 80px;
    }
  }
}