.engagement-container {
  padding: 18px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

  .engagement-title {
    margin-bottom: 18px;
  }

  .engagement-card {
    background-color: #e6e6e6;
    border-radius: 3px;
    padding: 13px 19px;

    & + .engagement-card {
      margin-top: 12px;
    }

    .engagement-code {
      font: normal normal normal 12px McKinsey Sans;
      color: #2251FF;
    }

    .engagement-company-name {
      font: normal normal medium 16px/12px McKinsey Sans;
      color: #000000;
      margin-top: 6px;
    }

    .engagement-status {
      display: inline-block;
      background: #3C96B41A;
      border-radius: 2px;
      padding: 3px 9px;
      font: normal normal normal 8px/16px McKinsey Sans;
      color: #3C96B4;
      margin-top: 8px;
    }
  }
}