.input-group .input-group-text {
    border-radius: 5px 0 0 5px;
    height: 55px !important;
    background: none;
}

.input-group input{
    border-radius: 0 5px 5px 0;
    height: 55px !important;
    min-width: 350px;
    border-left: none;
}